In [ ]:
# üí° RESPUESTAS CUESTIONARIO R√ÅPIDO - NIVEL B√ÅSICO

print("=" * 60)
print("üí° RESPUESTAS CORRECTAS - CUESTIONARIO B√ÅSICO")
print("=" * 60)

print("\n‚ùì PREGUNTA 1: Diferencia entre LIKE '%texto%' y LIKE 'texto%'")
print("‚úÖ RESPUESTA:")
print("   ‚Ä¢ '%texto%' busca 'texto' en CUALQUIER parte de la cadena")
print("   ‚Ä¢ 'texto%' busca cadenas que EMPIECEN con 'texto'")
print("   ‚Ä¢ Ejemplo: '%gmail%' encuentra 'usuario@gmail.com'")
print("   ‚Ä¢ Ejemplo: 'Ana%' encuentra 'Ana L√≥pez' pero no 'Mar√≠a Ana'")

print("\n‚ùì PREGUNTA 2: ¬øPor qu√© usar alias de tabla (e, d)?")
print("‚úÖ RESPUESTA:")
print("   ‚Ä¢ LEGIBILIDAD: Hace el c√≥digo m√°s f√°cil de leer")
print("   ‚Ä¢ EFICIENCIA: Menos escritura en consultas largas")
print("   ‚Ä¢ CLARIDAD: Especifica de qu√© tabla viene cada columna")
print("   ‚Ä¢ OBLIGATORIO: Cuando hay columnas con el mismo nombre")

print("\n‚ùì PREGUNTA 3: ¬øCu√°ndo usar BETWEEN vs IN?")
print("‚úÖ RESPUESTA:")
print("   ‚Ä¢ BETWEEN: Para RANGOS continuos (fechas, n√∫meros)")
print("   ‚Ä¢ IN: Para VALORES ESPEC√çFICOS no relacionados")
print("   ‚Ä¢ Ejemplo BETWEEN: salario BETWEEN 50000 AND 80000")
print("   ‚Ä¢ Ejemplo IN: departamento IN ('Ingenier√≠a', 'Calidad')")

print("\n‚ùì PREGUNTA 4: Diferencia entre AND y OR")
print("‚úÖ RESPUESTA:")
print("   ‚Ä¢ AND: TODAS las condiciones deben ser verdaderas")
print("   ‚Ä¢ OR: AL MENOS UNA condici√≥n debe ser verdadera")
print("   ‚Ä¢ AND es m√°s restrictivo (menos resultados)")
print("   ‚Ä¢ OR es m√°s permisivo (m√°s resultados)")

print("\n" + "="*60)
print("üéØ ¬°CONTIN√öA AL NIVEL INTERMEDIO CUANDO DOMINES ESTOS CONCEPTOS!")
print("="*60)

# üóÑÔ∏è M√ìDULO 3.1: BASES DE DATOS CON SQL
## üìä Maestr√≠a en Python - Fase 3: Gesti√≥n de Datos

---

### üéØ OBJETIVOS DE APRENDIZAJE

Al completar este m√≥dulo ser√°s capaz de:
- ‚úÖ Entender los conceptos fundamentales de bases de datos relacionales
- ‚úÖ Escribir consultas SQL eficientes y optimizadas
- ‚úÖ Dise√±ar esquemas de bases de datos normalizados
- ‚úÖ Implementar restricciones y validaciones de datos
- ‚úÖ Manejar transacciones y garantizar integridad de datos
- ‚úÖ Optimizar consultas usando √≠ndices apropiados

### üìã TEMARIO DETALLADO

1. **Fundamentos de Bases de Datos** (Conceptos, tipos, terminolog√≠a)
2. **SQL B√°sico** (DDL, DML, DQL)
3. **Tipos de Datos y Restricciones** (Integridad referencial)
4. **Consultas Avanzadas** (JOINs, subconsultas, agregaciones)
5. **√çndices y Optimizaci√≥n** (Rendimiento, EXPLAIN)
6. **Transacciones** (ACID, concurrencia)
7. **SQLite Espec√≠fico** (Caracter√≠sticas √∫nicas)
8. **Mejores Pr√°cticas** (Dise√±o, seguridad, patrones)

---

## üìö 1. FUNDAMENTOS DE BASES DE DATOS

### ü§î ¬øQu√© es una Base de Datos?

Una **base de datos** es un sistema organizado para almacenar, gestionar y recuperar informaci√≥n de manera eficiente. Piensa en ella como una biblioteca digital super organizada donde cada libro (dato) tiene su lugar espec√≠fico y puedes encontrarlo r√°pidamente.

### üèóÔ∏è Estructura Jer√°rquica

```
üìä BASE DE DATOS
‚îú‚îÄ‚îÄ üìã TABLA 1 (ej: usuarios)
‚îÇ   ‚îú‚îÄ‚îÄ üìÑ FILA 1 (Juan P√©rez, 25 a√±os, Madrid)
‚îÇ   ‚îú‚îÄ‚îÄ üìÑ FILA 2 (Mar√≠a Garc√≠a, 30 a√±os, Barcelona)
‚îÇ   ‚îî‚îÄ‚îÄ üìÑ FILA N...
‚îú‚îÄ‚îÄ üìã TABLA 2 (ej: productos)
‚îî‚îÄ‚îÄ üìã TABLA N...
```

### üîë Terminolog√≠a Esencial

- **Tabla**: Colecci√≥n de datos relacionados (como una hoja de Excel)
- **Fila/Registro**: Una entrada individual de datos
- **Columna/Campo**: Un atributo espec√≠fico (nombre, edad, etc.)
- **Clave Primaria**: Identificador √∫nico de cada fila
- **Clave For√°nea**: Referencia que conecta con otra tabla

In [ ]:
# Configuraci√≥n inicial para trabajar con SQLite
import sqlite3
import pandas as pd
from datetime import datetime, date
import os

# Crear conexi√≥n a una base de datos SQLite
# Si el archivo no existe, se crea autom√°ticamente
conn = sqlite3.connect('ejemplo_aprendizaje.db')
cursor = conn.cursor()

print("‚úÖ Conexi√≥n a SQLite establecida exitosamente")
print(f"üìÅ Base de datos creada en: {os.path.abspath('ejemplo_aprendizaje.db')}")

## üõ†Ô∏è 2. SQL B√ÅSICO - DDL (Data Definition Language)

DDL son los comandos para **definir la estructura** de la base de datos.

### üèóÔ∏è CREATE TABLE - Crear Tablas

In [ ]:
# Crear nuestra primera tabla: empleados
cursor.execute('''
CREATE TABLE IF NOT EXISTS empleados (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nombre TEXT NOT NULL,
    apellido TEXT NOT NULL,
    edad INTEGER CHECK (edad >= 18 AND edad <= 100),
    salario REAL CHECK (salario > 0),
    departamento TEXT NOT NULL,
    fecha_ingreso DATE NOT NULL,
    activo BOOLEAN DEFAULT 1
);
''')

# Crear tabla de departamentos con relaci√≥n
cursor.execute('''
CREATE TABLE IF NOT EXISTS departamentos (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nombre TEXT NOT NULL UNIQUE,
    presupuesto REAL CHECK (presupuesto > 0),
    jefe_id INTEGER,
    FOREIGN KEY (jefe_id) REFERENCES empleados(id)
);
''')

conn.commit()
print("‚úÖ Tablas 'empleados' y 'departamentos' creadas exitosamente")

# Verificar que las tablas se crearon
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tablas = cursor.fetchall()
print(f"üìã Tablas en la base de datos: {[tabla[0] for tabla in tablas]}")

### üìã Tipos de Datos en SQLite

| Tipo SQL | Descripci√≥n | Ejemplo |
|----------|-------------|----------|
| `INTEGER` | N√∫meros enteros | 42, -100, 0 |
| `REAL` | N√∫meros decimales | 3.14, 99.99 |
| `TEXT` | Cadenas de texto | 'Hola', 'Juan P√©rez' |
| `BLOB` | Datos binarios | Im√°genes, archivos |
| `NULL` | Valor vac√≠o | NULL |

### üîí Restricciones (Constraints)

- `PRIMARY KEY`: Identificador √∫nico
- `NOT NULL`: Campo obligatorio
- `UNIQUE`: Sin duplicados
- `CHECK`: Validaci√≥n personalizada
- `DEFAULT`: Valor por defecto
- `FOREIGN KEY`: Referencia a otra tabla

## üì• 3. DML (Data Manipulation Language) - Manipular Datos

### üìù INSERT - Insertar Datos

In [ ]:
# Insertar empleados de ejemplo
empleados_datos = [
    ('Juan', 'P√©rez', 30, 50000, 'IT', '2023-01-15'),
    ('Mar√≠a', 'Garc√≠a', 25, 45000, 'Marketing', '2023-02-20'),
    ('Carlos', 'L√≥pez', 35, 60000, 'IT', '2022-11-10'),
    ('Ana', 'Rodr√≠guez', 28, 52000, 'Ventas', '2023-03-05'),
    ('Pedro', 'Mart√≠n', 32, 48000, 'Ventas', '2023-01-22'),
    ('Laura', 'S√°nchez', 27, 55000, 'IT', '2022-12-18'),
    ('Diego', 'Fern√°ndez', 29, 47000, 'Marketing', '2023-02-28'),
    ('Carmen', 'Torres', 31, 53000, 'IT', '2022-10-15')
]

# Insertar m√∫ltiples registros
cursor.executemany('''
INSERT INTO empleados (nombre, apellido, edad, salario, departamento, fecha_ingreso)
VALUES (?, ?, ?, ?, ?, ?)
''', empleados_datos)

# Insertar departamentos
departamentos_datos = [
    ('IT', 300000),
    ('Marketing', 150000),
    ('Ventas', 200000),
    ('Recursos Humanos', 100000)
]

cursor.executemany('''
INSERT INTO departamentos (nombre, presupuesto)
VALUES (?, ?)
''', departamentos_datos)

conn.commit()
print(f"‚úÖ Insertados {len(empleados_datos)} empleados y {len(departamentos_datos)} departamentos")

# Verificar la inserci√≥n
cursor.execute("SELECT COUNT(*) FROM empleados")
total_empleados = cursor.fetchone()[0]
print(f"üìä Total de empleados en la base de datos: {total_empleados}")

### üîç SELECT - Consultar Datos

SELECT es el comando m√°s importante y vers√°til de SQL.

In [ ]:
# Consulta b√°sica: todos los empleados
print("üìã TODOS LOS EMPLEADOS:")
cursor.execute("SELECT * FROM empleados")
empleados = cursor.fetchall()

# Mostrar de forma organizada
for empleado in empleados[:3]:  # Solo los primeros 3 para no saturar
    print(f"ID: {empleado[0]}, Nombre: {empleado[1]} {empleado[2]}, Edad: {empleado[3]}, Salario: ${empleado[4]:,.2f}")

print(f"\n... y {len(empleados)-3} empleados m√°s")

In [ ]:
# Consultas con filtros espec√≠ficos
print("üîç EMPLEADOS DEL DEPARTAMENTO IT:")
cursor.execute("""
SELECT nombre, apellido, salario 
FROM empleados 
WHERE departamento = 'IT'
ORDER BY salario DESC
""")

empleados_it = cursor.fetchall()
for emp in empleados_it:
    print(f"‚Ä¢ {emp[0]} {emp[1]}: ${emp[2]:,.2f}")

print(f"\nüìä Total de empleados en IT: {len(empleados_it)}")

In [ ]:
# Consultas con rangos y condiciones m√∫ltiples
print("üí∞ EMPLEADOS CON SALARIO ENTRE $45,000 Y $55,000:")
cursor.execute("""
SELECT nombre, apellido, salario, departamento
FROM empleados 
WHERE salario BETWEEN 45000 AND 55000
ORDER BY salario DESC
""")

empleados_rango = cursor.fetchall()
for emp in empleados_rango:
    print(f"‚Ä¢ {emp[0]} {emp[1]} ({emp[3]}): ${emp[2]:,.2f}")

# B√∫squeda con LIKE (patrones)
print("\nüîé EMPLEADOS CUYO NOMBRE EMPIEZA CON 'M':")
cursor.execute("""
SELECT nombre, apellido, departamento
FROM empleados 
WHERE nombre LIKE 'M%'
""")

empleados_m = cursor.fetchall()
for emp in empleados_m:
    print(f"‚Ä¢ {emp[0]} {emp[1]} - {emp[2]}")

### üîß UPDATE - Actualizar Datos

In [ ]:
# Actualizar salario de un empleado espec√≠fico
print("üí° ACTUALIZANDO SALARIO DE JUAN P√âREZ...")

# Mostrar salario actual
cursor.execute("SELECT nombre, apellido, salario FROM empleados WHERE nombre = 'Juan' AND apellido = 'P√©rez'")
juan_antes = cursor.fetchone()
print(f"Salario actual de {juan_antes[0]} {juan_antes[1]}: ${juan_antes[2]:,.2f}")

# Actualizar salario (aumento del 10%)
cursor.execute("""
UPDATE empleados 
SET salario = salario * 1.10
WHERE nombre = 'Juan' AND apellido = 'P√©rez'
""")

# Verificar la actualizaci√≥n
cursor.execute("SELECT nombre, apellido, salario FROM empleados WHERE nombre = 'Juan' AND apellido = 'P√©rez'")
juan_despues = cursor.fetchone()
print(f"Nuevo salario de {juan_despues[0]} {juan_despues[1]}: ${juan_despues[2]:,.2f}")

aumento = juan_despues[2] - juan_antes[2]
print(f"üéâ Aumento aplicado: ${aumento:,.2f}")

conn.commit()

In [ ]:
# Actualizaci√≥n masiva: aumento para todo el departamento IT
print("üöÄ AUMENTO MASIVO PARA EL DEPARTAMENTO IT (5%):")

# Mostrar salarios antes
cursor.execute("SELECT nombre, apellido, salario FROM empleados WHERE departamento = 'IT' ORDER BY salario")
it_antes = cursor.fetchall()
print("\nSalarios antes del aumento:")
for emp in it_antes:
    print(f"‚Ä¢ {emp[0]} {emp[1]}: ${emp[2]:,.2f}")

# Aplicar aumento del 5%
cursor.execute("""
UPDATE empleados 
SET salario = salario * 1.05
WHERE departamento = 'IT'
""")

# Mostrar salarios despu√©s
cursor.execute("SELECT nombre, apellido, salario FROM empleados WHERE departamento = 'IT' ORDER BY salario")
it_despues = cursor.fetchall()
print("\nSalarios despu√©s del aumento:")
for emp in it_despues:
    print(f"‚Ä¢ {emp[0]} {emp[1]}: ${emp[2]:,.2f}")

# Calcular impacto total
total_antes = sum(emp[2] for emp in it_antes)
total_despues = sum(emp[2] for emp in it_despues)
impacto_total = total_despues - total_antes

print(f"\nüí∞ Impacto total del aumento: ${impacto_total:,.2f}")
print(f"üë• Empleados beneficiados: {len(it_despues)}")

conn.commit()

## üìä 4. FUNCIONES DE AGREGACI√ìN

Las funciones de agregaci√≥n nos permiten realizar c√°lculos sobre conjuntos de datos.

In [ ]:
# Estad√≠sticas generales de empleados
print("üìà ESTAD√çSTICAS GENERALES DE EMPLEADOS:")
print("=" * 50)

# M√∫ltiples agregaciones en una consulta
cursor.execute("""
SELECT 
    COUNT(*) as total_empleados,
    AVG(salario) as salario_promedio,
    MIN(salario) as salario_minimo,
    MAX(salario) as salario_maximo,
    SUM(salario) as nomina_total,
    AVG(edad) as edad_promedio
FROM empleados
""")

stats = cursor.fetchone()
print(f"üë• Total de empleados: {stats[0]}")
print(f"üí∞ Salario promedio: ${stats[1]:,.2f}")
print(f"üìâ Salario m√≠nimo: ${stats[2]:,.2f}")
print(f"üìà Salario m√°ximo: ${stats[3]:,.2f}")
print(f"üí∏ N√≥mina total: ${stats[4]:,.2f}")
print(f"üéÇ Edad promedio: {stats[5]:.1f} a√±os")

In [ ]:
# GROUP BY: Estad√≠sticas por departamento
print("\nüè¢ ESTAD√çSTICAS POR DEPARTAMENTO:")
print("=" * 60)

cursor.execute("""
SELECT 
    departamento,
    COUNT(*) as num_empleados,
    AVG(salario) as salario_promedio,
    MIN(salario) as salario_min,
    MAX(salario) as salario_max,
    SUM(salario) as costo_total
FROM empleados 
GROUP BY departamento
ORDER BY salario_promedio DESC
""")

stats_depto = cursor.fetchall()
for stat in stats_depto:
    print(f"\nüè∑Ô∏è  {stat[0]}:")
    print(f"   üë• Empleados: {stat[1]}")
    print(f"   üí∞ Promedio: ${stat[2]:,.2f}")
    print(f"   üìä Rango: ${stat[3]:,.2f} - ${stat[4]:,.2f}")
    print(f"   üí∏ Costo total: ${stat[5]:,.2f}")

In [ ]:
# HAVING: Filtrar despu√©s de GROUP BY
print("\nüéØ DEPARTAMENTOS CON SALARIO PROMEDIO > $50,000:")
print("=" * 55)

cursor.execute("""
SELECT 
    departamento,
    COUNT(*) as empleados,
    AVG(salario) as salario_promedio
FROM empleados 
GROUP BY departamento
HAVING AVG(salario) > 50000
ORDER BY salario_promedio DESC
""")

deptos_alto_salario = cursor.fetchall()
for depto in deptos_alto_salario:
    print(f"‚Ä¢ {depto[0]}: {depto[1]} empleados, promedio ${depto[2]:,.2f}")

if not deptos_alto_salario:
    print("No hay departamentos con salario promedio mayor a $50,000")

## üîó 5. SUBCONSULTAS (SUBQUERIES)

Las subconsultas son consultas dentro de otras consultas, muy √∫tiles para an√°lisis complejos.

In [ ]:
# Empleados que ganan m√°s que el promedio general
print("‚≠ê EMPLEADOS QUE GANAN M√ÅS QUE EL PROMEDIO GENERAL:")
print("=" * 60)

# Primero vemos el promedio general
cursor.execute("SELECT AVG(salario) FROM empleados")
promedio_general = cursor.fetchone()[0]
print(f"üí∞ Salario promedio general: ${promedio_general:,.2f}")
print()

# Ahora la subconsulta
cursor.execute("""
SELECT nombre, apellido, salario, departamento,
       (salario - (SELECT AVG(salario) FROM empleados)) as diferencia
FROM empleados 
WHERE salario > (SELECT AVG(salario) FROM empleados)
ORDER BY salario DESC
""")

empleados_sobre_promedio = cursor.fetchall()
for emp in empleados_sobre_promedio:
    print(f"‚Ä¢ {emp[0]} {emp[1]} ({emp[3]}): ${emp[2]:,.2f} (+${emp[4]:,.2f})")

print(f"\nüéØ Total de empleados sobre el promedio: {len(empleados_sobre_promedio)} de {stats[0]}")

In [ ]:
# Empleados que ganan m√°s que el promedio de SU departamento
print("üèÜ EMPLEADOS QUE GANAN M√ÅS QUE EL PROMEDIO DE SU DEPARTAMENTO:")
print("=" * 70)

cursor.execute("""
SELECT e1.nombre, e1.apellido, e1.salario, e1.departamento,
       (SELECT AVG(salario) FROM empleados e2 WHERE e2.departamento = e1.departamento) as promedio_depto,
       (e1.salario - (SELECT AVG(salario) FROM empleados e2 WHERE e2.departamento = e1.departamento)) as diferencia
FROM empleados e1
WHERE e1.salario > (SELECT AVG(salario) FROM empleados e2 WHERE e2.departamento = e1.departamento)
ORDER BY e1.departamento, e1.salario DESC
""")

empleados_sobre_depto = cursor.fetchall()
depto_actual = ""
for emp in empleados_sobre_depto:
    if emp[3] != depto_actual:
        depto_actual = emp[3]
        print(f"\nüè∑Ô∏è  {depto_actual} (promedio: ${emp[4]:,.2f}):")
    print(f"   ‚Ä¢ {emp[0]} {emp[1]}: ${emp[2]:,.2f} (+${emp[5]:,.2f})")

## üìÖ 6. TRABAJANDO CON FECHAS

SQLite tiene funciones espec√≠ficas para manejar fechas y tiempo.

In [ ]:
# An√°lisis de antig√ºedad de empleados
print("üìÖ AN√ÅLISIS DE ANTIG√úEDAD DE EMPLEADOS:")
print("=" * 45)

cursor.execute("""
SELECT nombre, apellido, fecha_ingreso,
       CAST((julianday('now') - julianday(fecha_ingreso)) AS INTEGER) as dias_trabajados,
       ROUND((julianday('now') - julianday(fecha_ingreso)) / 30, 1) as meses_trabajados,
       departamento
FROM empleados 
ORDER BY fecha_ingreso
""")

antiguedad = cursor.fetchall()
for emp in antiguedad:
    print(f"‚Ä¢ {emp[0]} {emp[1]} ({emp[5]}):")
    print(f"  üìÖ Ingreso: {emp[2]}")
    print(f"  ‚è∞ Antig√ºedad: {emp[3]} d√≠as ({emp[4]} meses)")
    print()

In [ ]:
# Empleados por a√±o de ingreso
print("üìä EMPLEADOS POR A√ëO DE INGRESO:")
print("=" * 35)

cursor.execute("""
SELECT 
    strftime('%Y', fecha_ingreso) as a√±o,
    COUNT(*) as empleados_ingresados,
    GROUP_CONCAT(nombre || ' ' || apellido) as nombres
FROM empleados 
GROUP BY strftime('%Y', fecha_ingreso)
ORDER BY a√±o
""")

por_a√±o = cursor.fetchall()
for a√±o_data in por_a√±o:
    print(f"\nüìÖ A√±o {a√±o_data[0]}: {a√±o_data[1]} empleados")
    nombres = a√±o_data[2].split(',')
    for nombre in nombres:
        print(f"   ‚Ä¢ {nombre.strip()}")

## üìà 7. √çNDICES Y OPTIMIZACI√ìN

Los √≠ndices mejoran significativamente el rendimiento de las consultas.

In [ ]:
# Crear √≠ndices para mejorar rendimiento
print("üöÄ CREANDO √çNDICES PARA OPTIMIZACI√ìN:")
print("=" * 40)

# √çndice en departamento (consulta frecuente)
cursor.execute("CREATE INDEX IF NOT EXISTS idx_empleados_departamento ON empleados(departamento)")
print("‚úÖ √çndice creado en 'departamento'")

# √çndice en salario (para consultas de rangos)
cursor.execute("CREATE INDEX IF NOT EXISTS idx_empleados_salario ON empleados(salario)")
print("‚úÖ √çndice creado en 'salario'")

# √çndice compuesto en apellido y nombre (b√∫squedas de empleados)
cursor.execute("CREATE INDEX IF NOT EXISTS idx_empleados_nombre_completo ON empleados(apellido, nombre)")
print("‚úÖ √çndice compuesto creado en 'apellido, nombre'")

conn.commit()

# Verificar √≠ndices creados
cursor.execute("SELECT name FROM sqlite_master WHERE type='index' AND tbl_name='empleados'")
indices = cursor.fetchall()
print(f"\nüìã √çndices en tabla 'empleados': {[idx[0] for idx in indices]}")

In [ ]:
# Analizar plan de ejecuci√≥n de consultas
print("\nüîç AN√ÅLISIS DE PLAN DE EJECUCI√ìN:")
print("=" * 40)

# Consulta que deber√≠a usar el √≠ndice de departamento
cursor.execute("EXPLAIN QUERY PLAN SELECT * FROM empleados WHERE departamento = 'IT'")
plan = cursor.fetchall()

print("Plan para: SELECT * FROM empleados WHERE departamento = 'IT'")
for step in plan:
    print(f"‚Ä¢ {step[3]}")

# Consulta que deber√≠a usar el √≠ndice de salario
print("\nPlan para: SELECT * FROM empleados WHERE salario > 50000")
cursor.execute("EXPLAIN QUERY PLAN SELECT * FROM empleados WHERE salario > 50000")
plan2 = cursor.fetchall()

for step in plan2:
    print(f"‚Ä¢ {step[3]}")

## üîÑ 8. TRANSACCIONES

Las transacciones garantizan que un conjunto de operaciones se ejecute completamente o no se ejecute en absoluto.

In [ ]:
# Ejemplo de transacci√≥n: transferencia de presupuesto entre departamentos
print("üí∏ SIMULANDO TRANSFERENCIA DE PRESUPUESTO:")
print("=" * 45)

# Mostrar presupuestos actuales
cursor.execute("SELECT nombre, presupuesto FROM departamentos WHERE nombre IN ('IT', 'Marketing')")
presupuestos_antes = cursor.fetchall()
print("Presupuestos antes de la transferencia:")
for depto in presupuestos_antes:
    print(f"‚Ä¢ {depto[0]}: ${depto[1]:,.2f}")

# Simular transferencia de $50,000 de Marketing a IT
cantidad_transferencia = 50000

try:
    # Iniciar transacci√≥n expl√≠cita
    cursor.execute("BEGIN TRANSACTION")
    
    # Restar del presupuesto de Marketing
    cursor.execute("""
    UPDATE departamentos 
    SET presupuesto = presupuesto - ?
    WHERE nombre = 'Marketing'
    """, (cantidad_transferencia,))
    
    # Verificar que Marketing tenga suficiente presupuesto
    cursor.execute("SELECT presupuesto FROM departamentos WHERE nombre = 'Marketing'")
    nuevo_presupuesto_marketing = cursor.fetchone()[0]
    
    if nuevo_presupuesto_marketing < 0:
        raise Exception("Presupuesto insuficiente en Marketing")
    
    # Sumar al presupuesto de IT
    cursor.execute("""
    UPDATE departamentos 
    SET presupuesto = presupuesto + ?
    WHERE nombre = 'IT'
    """, (cantidad_transferencia,))
    
    # Si todo sali√≥ bien, confirmar la transacci√≥n
    cursor.execute("COMMIT")
    print(f"\n‚úÖ Transferencia exitosa de ${cantidad_transferencia:,.2f}")
    
except Exception as e:
    # Si algo fall√≥, deshacer todos los cambios
    cursor.execute("ROLLBACK")
    print(f"\n‚ùå Error en la transacci√≥n: {e}")
    print("üîÑ Todos los cambios fueron revertidos")

# Mostrar presupuestos despu√©s
cursor.execute("SELECT nombre, presupuesto FROM departamentos WHERE nombre IN ('IT', 'Marketing')")
presupuestos_despues = cursor.fetchall()
print("\nPresupuestos despu√©s de la transferencia:")
for depto in presupuestos_despues:
    print(f"‚Ä¢ {depto[0]}: ${depto[1]:,.2f}")

## üßπ 9. LIMPIEZA Y MANTENIMIENTO

In [ ]:
# Informaci√≥n sobre la base de datos
print("üìä INFORMACI√ìN DE LA BASE DE DATOS:")
print("=" * 35)

# Tama√±o de las tablas
cursor.execute("""
SELECT name, 
       COUNT(*) as registros
FROM sqlite_master 
WHERE type='table' AND name NOT LIKE 'sqlite_%'
GROUP BY name
""")

# Para cada tabla, mostrar n√∫mero de registros
tablas_info = cursor.fetchall()
for tabla in tablas_info:
    cursor.execute(f"SELECT COUNT(*) FROM {tabla[0]}")
    count = cursor.fetchone()[0]
    print(f"üìã Tabla '{tabla[0]}': {count} registros")

# Informaci√≥n del archivo de base de datos
import os
db_size = os.path.getsize('ejemplo_aprendizaje.db')
print(f"\nüíæ Tama√±o del archivo: {db_size:,} bytes ({db_size/1024:.2f} KB)")

# Optimizar la base de datos
cursor.execute("VACUUM")
print("üßπ Base de datos optimizada con VACUUM")

In [ ]:
# Cerrar la conexi√≥n de forma adecuada
conn.close()
print("\nüîí Conexi√≥n a la base de datos cerrada correctamente")
print("\n" + "=" * 50)
print("üéØ M√ìDULO 3.1 COMPLETADO")
print("=" * 50)
print("\nHas aprendido:")
print("‚úÖ Conceptos fundamentales de bases de datos")
print("‚úÖ Sintaxis SQL b√°sica (DDL, DML, DQL)")
print("‚úÖ Consultas con filtros y agregaciones")
print("‚úÖ Subconsultas para an√°lisis complejos")
print("‚úÖ Manejo de fechas en SQLite")
print("‚úÖ Optimizaci√≥n con √≠ndices")
print("‚úÖ Transacciones y integridad de datos")
print("‚úÖ Mejores pr√°cticas de mantenimiento")
print("\nüöÄ ¬°Listo para la pr√°ctica intensiva!")

## üéØ EJERCICIOS PR√ÅCTICOS PROGRESIVOS

### üìö Instrucciones Generales

Estos ejercicios est√°n dise√±ados para **consolidar** tu aprendizaje de SQL de forma progresiva. Cada nivel aumenta en complejidad y te prepara para el siguiente.

**üî• METODOLOG√çA:**
1. **Lee** el enunciado completo
2. **Piensa** en la estrategia antes de escribir c√≥digo
3. **Implementa** tu soluci√≥n
4. **Compara** con la soluci√≥n proporcionada
5. **Reflexiona** sobre las diferencias y aprende

**üí° NIVELES:**
- üü¢ **B√°sico**: Consultas simples y operaciones fundamentales
- üü° **Intermedio**: Agregaciones, JOINs y subconsultas
- üî¥ **Avanzado**: Optimizaci√≥n, transacciones y casos complejos
- üèÜ **Proyecto**: Integraci√≥n de todos los conceptos

---

### üü¢ NIVEL B√ÅSICO: Fundamentos SQL

**Objetivo:** Dominar consultas SELECT b√°sicas, filtros y ordenamiento

**Contexto:** Trabajaremos con una base de datos de **empleados de una empresa industrial**

In [1]:
# üèóÔ∏è CONFIGURACI√ìN INICIAL - Base de Datos de Empleados Industriales
import sqlite3
import pandas as pd
from datetime import datetime, date

# Crear conexi√≥n a la base de datos de ejercicios
conn_ejercicios = sqlite3.connect(':memory:')  # BD en memoria para ejercicios
cursor = conn_ejercicios.cursor()

# Crear tablas del sistema de empleados industriales
cursor.executescript('''
    -- Tabla de departamentos
    CREATE TABLE departamentos (
        id_departamento INTEGER PRIMARY KEY,
        nombre VARCHAR(50) NOT NULL,
        ubicacion VARCHAR(50),
        presupuesto DECIMAL(12,2)
    );
    
    -- Tabla de empleados
    CREATE TABLE empleados (
        id_empleado INTEGER PRIMARY KEY,
        nombre VARCHAR(50) NOT NULL,
        apellido VARCHAR(50) NOT NULL,
        email VARCHAR(100) UNIQUE,
        telefono VARCHAR(15),
        fecha_contratacion DATE,
        salario DECIMAL(10,2),
        id_departamento INTEGER,
        cargo VARCHAR(50),
        a√±os_experiencia INTEGER,
        FOREIGN KEY (id_departamento) REFERENCES departamentos(id_departamento)
    );
    
    -- Tabla de proyectos
    CREATE TABLE proyectos (
        id_proyecto INTEGER PRIMARY KEY,
        nombre_proyecto VARCHAR(100) NOT NULL,
        descripcion TEXT,
        fecha_inicio DATE,
        fecha_fin DATE,
        presupuesto DECIMAL(15,2),
        estado VARCHAR(20),
        id_departamento INTEGER,
        FOREIGN KEY (id_departamento) REFERENCES departamentos(id_departamento)
    );
''')

print("‚úÖ Tablas creadas exitosamente!")
conn_ejercicios.commit()

ModuleNotFoundError: No module named 'pandas'

In [ ]:
# üìä INSERTAR DATOS DE EJEMPLO
# Insertar departamentos
departamentos_data = [
    (1, 'Ingenier√≠a', 'Planta Principal', 250000.00),
    (2, 'Producci√≥n', 'Planta Principal', 180000.00),
    (3, 'Mantenimiento', 'Planta Principal', 120000.00),
    (4, 'Calidad', 'Laboratorio', 95000.00),
    (5, 'Recursos Humanos', 'Oficinas Administrativas', 80000.00),
    (6, 'Automatizaci√≥n', 'Centro Tecnol√≥gico', 300000.00)
]

cursor.executemany('''
    INSERT INTO departamentos (id_departamento, nombre, ubicacion, presupuesto)
    VALUES (?, ?, ?, ?)
''', departamentos_data)

# Insertar empleados
empleados_data = [
    (1, 'Juan', 'P√©rez', 'juan.perez@empresa.com', '555-0101', '2020-03-15', 75000.00, 1, 'Ingeniero Senior', 8),
    (2, 'Mar√≠a', 'Gonz√°lez', 'maria.gonzalez@empresa.com', '555-0102', '2019-07-22', 68000.00, 1, 'Ingeniera de Procesos', 6),
    (3, 'Carlos', 'Rodr√≠guez', 'carlos.rodriguez@empresa.com', '555-0103', '2021-01-10', 45000.00, 2, 'Operador de M√°quina', 3),
    (4, 'Ana', 'L√≥pez', 'ana.lopez@empresa.com', '555-0104', '2018-11-05', 52000.00, 3, 'T√©cnico de Mantenimiento', 12),
    (5, 'Luis', 'Mart√≠nez', 'luis.martinez@empresa.com', '555-0105', '2022-02-28', 38000.00, 2, 'Operador Junior', 1),
    (6, 'Elena', 'Hern√°ndez', 'elena.hernandez@empresa.com', '555-0106', '2017-09-12', 82000.00, 4, 'Jefe de Calidad', 15),
    (7, 'Roberto', 'Garc√≠a', 'roberto.garcia@empresa.com', '555-0107', '2020-06-18', 65000.00, 5, 'Especialista en RRHH', 7),
    (8, 'Sandra', 'Ruiz', 'sandra.ruiz@empresa.com', '555-0108', '2019-04-03', 95000.00, 6, 'Ingeniera en Automatizaci√≥n', 10),
    (9, 'Diego', 'Morales', 'diego.morales@empresa.com', '555-0109', '2021-08-14', 72000.00, 6, 'Programador PLC', 5),
    (10, 'Paola', 'Castro', 'paola.castro@empresa.com', '555-0110', '2023-01-20', 42000.00, 4, 'Analista de Calidad', 2)
]

cursor.executemany('''
    INSERT INTO empleados (id_empleado, nombre, apellido, email, telefono, fecha_contratacion, 
                          salario, id_departamento, cargo, a√±os_experiencia)
    VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
''', empleados_data)

# Insertar proyectos
proyectos_data = [
    (1, 'Automatizaci√≥n L√≠nea A', 'Implementaci√≥n de sistema automatizado en l√≠nea de producci√≥n A', 
     '2023-01-15', '2023-12-31', 450000.00, 'En Progreso', 6),
    (2, 'Mejora Continua Calidad', 'Implementaci√≥n de nuevos procesos de control de calidad', 
     '2023-03-01', '2023-09-30', 125000.00, 'Completado', 4),
    (3, 'Mantenimiento Predictivo', 'Sistema de mantenimiento predictivo con IoT', 
     '2023-06-01', '2024-02-28', 280000.00, 'En Progreso', 3),
    (4, 'Capacitaci√≥n Personal', 'Programa integral de capacitaci√≥n t√©cnica', 
     '2023-04-01', '2023-11-30', 65000.00, 'En Progreso', 5),
    (5, 'Optimizaci√≥n Energ√©tica', 'Reducci√≥n del consumo energ√©tico en planta', 
     '2023-02-01', '2023-08-31', 195000.00, 'Completado', 1)
]

cursor.executemany('''
    INSERT INTO proyectos (id_proyecto, nombre_proyecto, descripcion, fecha_inicio, 
                          fecha_fin, presupuesto, estado, id_departamento)
    VALUES (?, ?, ?, ?, ?, ?, ?, ?)
''', proyectos_data)

conn_ejercicios.commit()
print("‚úÖ Datos insertados exitosamente!")

# Verificar que los datos se insertaron correctamente
cursor.execute("SELECT COUNT(*) FROM empleados")
num_empleados = cursor.fetchone()[0]
cursor.execute("SELECT COUNT(*) FROM departamentos")
num_departamentos = cursor.fetchone()[0]
cursor.execute("SELECT COUNT(*) FROM proyectos")
num_proyectos = cursor.fetchone()[0]

print(f"üìä Base de datos lista:")
print(f"   üë• Empleados: {num_empleados}")
print(f"   üè¢ Departamentos: {num_departamentos}")
print(f"   üìã Proyectos: {num_proyectos}")

#### üéØ EJERCICIO 1: Consultas SELECT B√°sicas

**üìù ENUNCIADO:**
Necesitas familiarizarte con la estructura de datos. Realiza las siguientes consultas:

1. **Mostrar todos los empleados** con sus nombres completos y salarios
2. **Listar departamentos** ordenados por presupuesto (mayor a menor)
3. **Encontrar empleados** que ganen m√°s de $60,000

**üí° TIP:** Recuerda usar `SELECT`, `FROM`, `WHERE`, y `ORDER BY`

**üéØ TU TURNO:** Escribe las consultas en las celdas siguientes...

In [ ]:
# üöÄ TU PR√ÅCTICA - EJERCICIO 1
# Escribe aqu√≠ tus consultas SQL para el ejercicio 1

# Consulta 1: Mostrar todos los empleados con nombres completos y salarios
# TU C√ìDIGO AQU√ç:


# Consulta 2: Listar departamentos ordenados por presupuesto (mayor a menor)
# TU C√ìDIGO AQU√ç:


# Consulta 3: Encontrar empleados que ganen m√°s de $60,000
# TU C√ìDIGO AQU√ç:

In [ ]:
# ‚úÖ SOLUCI√ìN - EJERCICIO 1

print("=" * 60)
print("üìã SOLUCI√ìN EJERCICIO 1: Consultas SELECT B√°sicas")
print("=" * 60)

# Consulta 1: Mostrar todos los empleados con nombres completos y salarios
print("\n1Ô∏è‚É£ EMPLEADOS CON NOMBRES COMPLETOS Y SALARIOS")
print("-" * 50)
query1 = '''
    SELECT 
        nombre || ' ' || apellido AS nombre_completo,
        salario,
        cargo
    FROM empleados
    ORDER BY nombre, apellido
'''
result1 = cursor.execute(query1).fetchall()
for row in result1:
    print(f"üë§ {row[0]:<25} | üí∞ ${row[1]:,.2f} | üíº {row[2]}")

# Consulta 2: Listar departamentos ordenados por presupuesto (mayor a menor)
print("\n2Ô∏è‚É£ DEPARTAMENTOS POR PRESUPUESTO (MAYOR A MENOR)")
print("-" * 50)
query2 = '''
    SELECT 
        nombre,
        ubicacion,
        presupuesto
    FROM departamentos
    ORDER BY presupuesto DESC
'''
result2 = cursor.execute(query2).fetchall()
for row in result2:
    print(f"üè¢ {row[0]:<20} | üìç {row[1]:<25} | üí∞ ${row[2]:,.2f}")

# Consulta 3: Encontrar empleados que ganen m√°s de $60,000
print("\n3Ô∏è‚É£ EMPLEADOS CON SALARIO > $60,000")
print("-" * 50)
query3 = '''
    SELECT 
        nombre || ' ' || apellido AS nombre_completo,
        cargo,
        salario,
        a√±os_experiencia
    FROM empleados
    WHERE salario > 60000
    ORDER BY salario DESC
'''
result3 = cursor.execute(query3).fetchall()
for row in result3:
    print(f"üë§ {row[0]:<25} | üíº {row[1]:<25} | üí∞ ${row[2]:,.2f} | ‚è±Ô∏è {row[3]} a√±os")

print(f"\nüìä Total empleados con salario > $60,000: {len(result3)}")

# üß† AN√ÅLISIS Y APRENDIZAJE
print("\n" + "=" * 60)
print("üß† CONCEPTOS CLAVE APLICADOS:")
print("=" * 60)
print("‚úÖ Concatenaci√≥n de strings con ||")
print("‚úÖ Alias de columnas con AS")
print("‚úÖ Filtrado con WHERE")
print("‚úÖ Ordenamiento con ORDER BY")
print("‚úÖ Comparadores num√©ricos (>, <, =)")
print("‚úÖ Formateo de resultados para mejor legibilidad")

#### üéØ EJERCICIO 2: Filtros y Patrones Avanzados

**üìù ENUNCIADO:**
Ahora profundizaremos en filtros m√°s espec√≠ficos y √∫tiles para an√°lisis industrial:

1. **Empleados de Automatizaci√≥n**: Encuentra todos los empleados cuyo email contenga "empresa.com" y trabajen en el departamento de Automatizaci√≥n
2. **An√°lisis de experiencia**: Muestra empleados con entre 5 y 10 a√±os de experiencia, ordenados por salario
3. **B√∫squeda por nombre**: Encuentra empleados cuyos nombres empiecen con 'M' o 'A'
4. **Salarios espec√≠ficos**: Empleados con salarios de exactamente $45,000, $68,000 o $75,000

**üí° TIPS:** Usa `LIKE`, `BETWEEN`, `IN`, `AND`, `OR`

**üéØ TU TURNO:** ¬°A practicar filtros avanzados!

In [ ]:
# üöÄ TU PR√ÅCTICA - EJERCICIO 2
# Escribe aqu√≠ tus consultas SQL para filtros avanzados

# Consulta 1: Empleados de Automatizaci√≥n con email empresa.com
# TU C√ìDIGO AQU√ç:


# Consulta 2: Empleados con 5-10 a√±os de experiencia, ordenados por salario
# TU C√ìDIGO AQU√ç:


# Consulta 3: Empleados con nombres que empiecen con 'M' o 'A'
# TU C√ìDIGO AQU√ç:


# Consulta 4: Empleados con salarios espec√≠ficos ($45,000, $68,000 o $75,000)
# TU C√ìDIGO AQU√ç:

In [ ]:
# ‚úÖ SOLUCI√ìN - EJERCICIO 2

print("=" * 60)
print("üìã SOLUCI√ìN EJERCICIO 2: Filtros y Patrones Avanzados")
print("=" * 60)

# Consulta 1: Empleados de Automatizaci√≥n con email empresa.com
print("\n1Ô∏è‚É£ EMPLEADOS DE AUTOMATIZACI√ìN CON EMAIL EMPRESA.COM")
print("-" * 50)
query1 = '''
    SELECT 
        e.nombre || ' ' || e.apellido AS nombre_completo,
        e.email,
        e.cargo,
        d.nombre AS departamento
    FROM empleados e, departamentos d
    WHERE e.id_departamento = d.id_departamento
        AND d.nombre = 'Automatizaci√≥n'
        AND e.email LIKE '%empresa.com%'
'''
result1 = cursor.execute(query1).fetchall()
for row in result1:
    print(f"üë§ {row[0]:<25} | üìß {row[1]:<30} | üíº {row[2]}")

print(f"üìä Total empleados encontrados: {len(result1)}")

# Consulta 2: Empleados con 5-10 a√±os de experiencia, ordenados por salario
print("\n2Ô∏è‚É£ EMPLEADOS CON 5-10 A√ëOS DE EXPERIENCIA (POR SALARIO)")
print("-" * 50)
query2 = '''
    SELECT 
        nombre || ' ' || apellido AS nombre_completo,
        a√±os_experiencia,
        salario,
        cargo
    FROM empleados
    WHERE a√±os_experiencia BETWEEN 5 AND 10
    ORDER BY salario DESC
'''
result2 = cursor.execute(query2).fetchall()
for row in result2:
    print(f"üë§ {row[0]:<25} | ‚è±Ô∏è {row[1]:>2} a√±os | üí∞ ${row[2]:,.2f} | üíº {row[3]}")

print(f"üìä Total empleados con 5-10 a√±os experiencia: {len(result2)}")

# Consulta 3: Empleados con nombres que empiecen con 'M' o 'A'
print("\n3Ô∏è‚É£ EMPLEADOS CON NOMBRES QUE EMPIECEN CON 'M' O 'A'")
print("-" * 50)
query3 = '''
    SELECT 
        nombre || ' ' || apellido AS nombre_completo,
        cargo,
        salario
    FROM empleados
    WHERE nombre LIKE 'M%' OR nombre LIKE 'A%'
    ORDER BY nombre
'''
result3 = cursor.execute(query3).fetchall()
for row in result3:
    print(f"üë§ {row[0]:<25} | üíº {row[1]:<25} | üí∞ ${row[2]:,.2f}")

print(f"üìä Total empleados con nombres M* o A*: {len(result3)}")

# Consulta 4: Empleados con salarios espec√≠ficos
print("\n4Ô∏è‚É£ EMPLEADOS CON SALARIOS ESPEC√çFICOS ($45K, $68K, $75K)")
print("-" * 50)
query4 = '''
    SELECT 
        nombre || ' ' || apellido AS nombre_completo,
        salario,
        cargo,
        a√±os_experiencia
    FROM empleados
    WHERE salario IN (45000, 68000, 75000)
    ORDER BY salario DESC
'''
result4 = cursor.execute(query4).fetchall()
for row in result4:
    print(f"üë§ {row[0]:<25} | üí∞ ${row[1]:,.2f} | üíº {row[2]:<20} | ‚è±Ô∏è {row[3]} a√±os")

print(f"üìä Total empleados con salarios espec√≠ficos: {len(result4)}")

# üß† AN√ÅLISIS Y APRENDIZAJE
print("\n" + "=" * 60)
print("üß† CONCEPTOS CLAVE APLICADOS:")
print("=" * 60)
print("‚úÖ LIKE con wildcards (%, _)")
print("‚úÖ BETWEEN para rangos num√©ricos")
print("‚úÖ IN para valores espec√≠ficos")
print("‚úÖ Operadores l√≥gicos (AND, OR)")
print("‚úÖ JOIN impl√≠cito (tabla1, tabla2 WHERE)")
print("‚úÖ Alias de tablas (e, d)")
print("‚úÖ Combinaci√≥n de m√∫ltiples condiciones")

#### üß† CUESTIONARIO R√ÅPIDO - NIVEL B√ÅSICO

**¬°Verifica tu comprensi√≥n antes de avanzar!**

**‚ùì PREGUNTA 1:** ¬øCu√°l es la diferencia entre `LIKE '%texto%'` y `LIKE 'texto%'`?
- **Tu respuesta:** _Escribe aqu√≠_

**‚ùì PREGUNTA 2:** ¬øPor qu√© usamos alias de tabla (`e`, `d`) en consultas complejas?
- **Tu respuesta:** _Escribe aqu√≠_

**‚ùì PREGUNTA 3:** ¬øCu√°ndo usar√≠as `BETWEEN` vs `IN`?
- **Tu respuesta:** _Escribe aqu√≠_

**‚ùì PREGUNTA 4:** ¬øQu√© diferencia hay entre `AND` y `OR` en las condiciones WHERE?
- **Tu respuesta:** _Escribe aqu√≠_

---

**üéØ AUTOCOMPROBACI√ìN:**
Despu√©s de responder, ejecuta la siguiente celda para ver las respuestas correctas.

## üéØ EJERCICIOS PR√ÅCTICOS - NIVEL B√ÅSICO

### üöÄ Ejercicio 1: Gesti√≥n de Inventario de Tienda

Vamos a crear un sistema b√°sico de inventario para una tienda de electr√≥nicos.

In [ ]:
# üöÄ TU PR√ÅCTICA - EJERCICIO 3
# Escribe aqu√≠ tus consultas SQL con JOINs expl√≠citos

# Consulta 1: INNER JOIN empleados con departamentos
# TU C√ìDIGO AQU√ç:


# Consulta 2: LEFT JOIN departamentos con conteo de empleados
# TU C√ìDIGO AQU√ç:


# Consulta 3: INNER JOIN proyectos con departamentos
# TU C√ìDIGO AQU√ç:


# Consulta 4: JOIN m√∫ltiple (empleados-departamentos-proyectos activos)
# TU C√ìDIGO AQU√ç:

In [ ]:
# ‚úÖ SOLUCI√ìN - EJERCICIO 3

print("=" * 70)
print("üìã SOLUCI√ìN EJERCICIO 3: JOINs Expl√≠citos")
print("=" * 70)

# Consulta 1: INNER JOIN empleados con departamentos
print("\n1Ô∏è‚É£ INNER JOIN: EMPLEADOS CON SUS DEPARTAMENTOS")
print("-" * 55)
query1 = '''
    SELECT 
        e.nombre || ' ' || e.apellido AS nombre_completo,
        e.cargo,
        d.nombre AS departamento,
        d.ubicacion,
        e.salario
    FROM empleados e
    INNER JOIN departamentos d ON e.id_departamento = d.id_departamento
    ORDER BY d.nombre, e.apellido
'''
result1 = cursor.execute(query1).fetchall()
for row in result1:
    print(f"üë§ {row[0]:<25} | üíº {row[1]:<25} | üè¢ {row[2]:<15} | üìç {row[3]}")

print(f"üìä Total empleados con departamento: {len(result1)}")

# Consulta 2: LEFT JOIN departamentos con conteo de empleados
print("\n2Ô∏è‚É£ LEFT JOIN: DEPARTAMENTOS CON CONTEO DE EMPLEADOS")
print("-" * 55)
query2 = '''
    SELECT 
        d.nombre AS departamento,
        d.ubicacion,
        d.presupuesto,
        COUNT(e.id_empleado) AS total_empleados
    FROM departamentos d
    LEFT JOIN empleados e ON d.id_departamento = e.id_departamento
    GROUP BY d.id_departamento, d.nombre, d.ubicacion, d.presupuesto
    ORDER BY total_empleados DESC
'''
result2 = cursor.execute(query2).fetchall()
for row in result2:
    empleados_text = f"{row[3]} empleados" if row[3] != 1 else "1 empleado"
    print(f"üè¢ {row[0]:<20} | üìç {row[1]:<25} | üí∞ ${row[2]:,.2f} | üë• {empleados_text}")

# Consulta 3: INNER JOIN proyectos con departamentos
print("\n3Ô∏è‚É£ INNER JOIN: PROYECTOS CON DEPARTAMENTOS RESPONSABLES")
print("-" * 55)
query3 = '''
    SELECT 
        p.nombre_proyecto,
        d.nombre AS departamento_responsable,
        p.presupuesto,
        p.estado,
        p.fecha_inicio,
        p.fecha_fin
    FROM proyectos p
    INNER JOIN departamentos d ON p.id_departamento = d.id_departamento
    ORDER BY p.presupuesto DESC
'''
result3 = cursor.execute(query3).fetchall()
for row in result3:
    print(f"üìã {row[0]:<30} | üè¢ {row[1]:<15} | üí∞ ${row[2]:,.2f} | üìä {row[3]}")

print(f"üìä Total proyectos activos: {len(result3)}")

# Consulta 4: JOIN m√∫ltiple
print("\n4Ô∏è‚É£ JOIN M√öLTIPLE: EMPLEADOS EN PROYECTOS ACTIVOS")
print("-" * 55)
query4 = '''
    SELECT 
        e.nombre || ' ' || e.apellido AS empleado,
        d.nombre AS departamento,
        p.nombre_proyecto,
        p.estado,
        p.presupuesto
    FROM empleados e
    INNER JOIN departamentos d ON e.id_departamento = d.id_departamento
    INNER JOIN proyectos p ON d.id_departamento = p.id_departamento
    WHERE p.estado = 'En Progreso'
    ORDER BY p.presupuesto DESC, e.apellido
'''
result4 = cursor.execute(query4).fetchall()
for row in result4:
    print(f"üë§ {row[0]:<25} | üè¢ {row[1]:<15} | üìã {row[2]:<25} | üí∞ ${row[4]:,.2f}")

print(f"üìä Total empleados en proyectos activos: {len(result4)}")

# üß† AN√ÅLISIS Y APRENDIZAJE
print("\n" + "=" * 70)
print("üß† CONCEPTOS CLAVE APLICADOS:")
print("=" * 70)
print("‚úÖ INNER JOIN: Solo registros que coinciden")
print("‚úÖ LEFT JOIN: Incluye registros sin coincidencia")
print("‚úÖ GROUP BY: Agrupa para hacer conteos")
print("‚úÖ COUNT(): Funci√≥n de agregaci√≥n")
print("‚úÖ JOIN m√∫ltiple: Tres tablas relacionadas")
print("‚úÖ ON: Especifica la condici√≥n de uni√≥n")
print("‚úÖ Diferencia pr√°ctica entre INNER y LEFT JOIN")

#### üéØ EJERCICIO 4: Agregaciones y An√°lisis Estad√≠stico

**üìù ENUNCIADO:**
Como ingeniero industrial, necesitas generar reportes estad√≠sticos para la direcci√≥n:

1. **An√°lisis salarial por departamento**: Promedio, m√≠nimo, m√°ximo y total de salarios por departamento
2. **Distribuci√≥n de experiencia**: Contar empleados por rangos de experiencia (0-5, 6-10, 11+)
3. **Presupuesto total por estado**: Suma de presupuestos de proyectos agrupados por estado
4. **Departamentos eficientes**: Departamentos con m√°s de 1 empleado y salario promedio > $50,000 (usar HAVING)

**üí° TIPS:** Usa `SUM()`, `AVG()`, `MIN()`, `MAX()`, `COUNT()`, `GROUP BY`, `HAVING`

**üéØ TU TURNO:** ¬°Convi√©rtete en analista de datos industriales!

In [ ]:
# ‚úÖ SOLUCI√ìN - EJERCICIO 4

print("=" * 80)
print("üìã SOLUCI√ìN EJERCICIO 4: Agregaciones y An√°lisis Estad√≠stico")
print("=" * 80)

# Consulta 1: An√°lisis salarial por departamento
print("\n1Ô∏è‚É£ AN√ÅLISIS SALARIAL POR DEPARTAMENTO")
print("-" * 60)
query1 = '''
    SELECT 
        d.nombre AS departamento,
        COUNT(e.id_empleado) AS total_empleados,
        ROUND(AVG(e.salario), 2) AS salario_promedio,
        MIN(e.salario) AS salario_minimo,
        MAX(e.salario) AS salario_maximo,
        SUM(e.salario) AS costo_total_salarios
    FROM departamentos d
    INNER JOIN empleados e ON d.id_departamento = e.id_departamento
    GROUP BY d.id_departamento, d.nombre
    ORDER BY salario_promedio DESC
'''
result1 = cursor.execute(query1).fetchall()
print(f"{'Departamento':<20} | {'#Emp'} | {'Promedio':<10} | {'M√≠nimo':<10} | {'M√°ximo':<10} | {'Total'}")
print("-" * 85)
for row in result1:
    print(f"{row[0]:<20} | {row[1]:>4} | ${row[2]:>8,.2f} | ${row[3]:>8,.2f} | ${row[4]:>8,.2f} | ${row[5]:>10,.2f}")

# Consulta 2: Distribuci√≥n de empleados por rangos de experiencia
print("\n2Ô∏è‚É£ DISTRIBUCI√ìN POR RANGOS DE EXPERIENCIA")
print("-" * 60)
query2 = '''
    SELECT 
        CASE 
            WHEN a√±os_experiencia BETWEEN 0 AND 5 THEN '0-5 a√±os (Junior)'
            WHEN a√±os_experiencia BETWEEN 6 AND 10 THEN '6-10 a√±os (Semi-Senior)'
            ELSE '11+ a√±os (Senior)'
        END AS rango_experiencia,
        COUNT(*) AS cantidad_empleados,
        ROUND(AVG(salario), 2) AS salario_promedio_rango,
        MIN(salario) AS salario_min_rango,
        MAX(salario) AS salario_max_rango
    FROM empleados
    GROUP BY 
        CASE 
            WHEN a√±os_experiencia BETWEEN 0 AND 5 THEN '0-5 a√±os (Junior)'
            WHEN a√±os_experiencia BETWEEN 6 AND 10 THEN '6-10 a√±os (Semi-Senior)'
            ELSE '11+ a√±os (Senior)'
        END
    ORDER BY cantidad_empleados DESC
'''
result2 = cursor.execute(query2).fetchall()
for row in result2:
    print(f"üìä {row[0]:<20} | üë• {row[1]:>2} empleados | üí∞ Promedio: ${row[2]:,.2f}")
    print(f"   üìà Rango salarial: ${row[3]:,.2f} - ${row[4]:,.2f}")

# Consulta 3: Presupuesto total por estado de proyectos
print("\n3Ô∏è‚É£ PRESUPUESTO TOTAL POR ESTADO DE PROYECTOS")
print("-" * 60)
query3 = '''
    SELECT 
        estado,
        COUNT(*) AS cantidad_proyectos,
        SUM(presupuesto) AS presupuesto_total,
        ROUND(AVG(presupuesto), 2) AS presupuesto_promedio
    FROM proyectos
    GROUP BY estado
    ORDER BY presupuesto_total DESC
'''
result3 = cursor.execute(query3).fetchall()
for row in result3:
    print(f"üìä {row[0]:<15} | üìã {row[1]:>2} proyectos | üí∞ Total: ${row[2]:,.2f} | üìà Promedio: ${row[3]:,.2f}")

# Consulta 4: Departamentos eficientes (HAVING)
print("\n4Ô∏è‚É£ DEPARTAMENTOS EFICIENTES (>1 empleado, salario promedio >$50K)")
print("-" * 60)
query4 = '''
    SELECT 
        d.nombre AS departamento,
        COUNT(e.id_empleado) AS total_empleados,
        ROUND(AVG(e.salario), 2) AS salario_promedio,
        d.presupuesto AS presupuesto_departamento
    FROM departamentos d
    INNER JOIN empleados e ON d.id_departamento = e.id_departamento
    GROUP BY d.id_departamento, d.nombre, d.presupuesto
    HAVING COUNT(e.id_empleado) > 1 AND AVG(e.salario) > 50000
    ORDER BY salario_promedio DESC
'''
result4 = cursor.execute(query4).fetchall()
for row in result4:
    eficiencia = (row[2] / row[3]) * 100 if row[3] > 0 else 0
    print(f"üè¢ {row[0]:<20} | üë• {row[1]} empleados | üí∞ ${row[2]:,.2f} promedio")
    print(f"   üìä Presupuesto: ${row[3]:,.2f} | ‚ö° Eficiencia: {eficiencia:.2f}%")

# üß† AN√ÅLISIS Y APRENDIZAJE
print("\n" + "=" * 80)
print("üß† CONCEPTOS CLAVE APLICADOS:")
print("=" * 80)
print("‚úÖ COUNT(), SUM(), AVG(), MIN(), MAX()")
print("‚úÖ GROUP BY para agrupar datos")
print("‚úÖ HAVING para filtrar grupos")
print("‚úÖ CASE WHEN para categorizaci√≥n")
print("‚úÖ ROUND() para redondear decimales")
print("‚úÖ An√°lisis estad√≠stico descriptivo")
print("‚úÖ Reportes empresariales con SQL")

print("\nüìà INSIGHTS EMPRESARIALES GENERADOS:")
print("‚Ä¢ Automatizaci√≥n tiene el salario promedio m√°s alto")
print("‚Ä¢ Distribuci√≥n equilibrada de experiencia")
print("‚Ä¢ Proyectos 'En Progreso' concentran mayor inversi√≥n")
print("‚Ä¢ Departamentos eficientes identificados para benchmarking")

In [ ]:
# üöÄ TU PR√ÅCTICA - EJERCICIO 5 (AVANZADO)
# Escribe aqu√≠ tus consultas SQL avanzadas

# Consulta 1: Empleados con salario mayor al promedio de su departamento
# TU C√ìDIGO AQU√ç:


# Consulta 2: Departamentos sin proyectos (usando EXISTS)
# TU C√ìDIGO AQU√ç:


# Consulta 3: Ranking salarial por departamento (Window Functions)
# TU C√ìDIGO AQU√ç:


# Consulta 4: CTE para an√°lisis jer√°rquico
# TU C√ìDIGO AQU√ç:

### üèÜ PROYECTO INTEGRADOR: Sistema de Monitoreo Industrial

**üéØ OBJETIVO:** Crear un dashboard SQL completo que integre todos los conceptos aprendidos para un **Sistema de Monitoreo de Planta Industrial**.

**üìã REQUERIMIENTOS DEL PROYECTO:**

**1. M√ìDULO DE RECURSOS HUMANOS**
- An√°lisis de estructura organizacional
- Identificaci√≥n de brechas salariales
- Evaluaci√≥n de distribuci√≥n de talento

**2. M√ìDULO DE GESTI√ìN DE PROYECTOS**
- Estado financiero de proyectos
- An√°lisis de riesgo por departamento
- Proyecci√≥n de recursos necesarios

**3. M√ìDULO DE EFICIENCIA OPERACIONAL**
- KPIs departamentales
- Ranking de performance
- Alertas de optimizaci√≥n

**4. DASHBOARD EJECUTIVO**
- M√©tricas consolidadas
- Indicadores de salud organizacional
- Recomendaciones automatizadas

**üî• CHALLENGE:** Implementa un sistema completo usando SOLO SQL que genere insights accionables para la direcci√≥n de la empresa.

In [ ]:
# ‚úÖ SOLUCI√ìN - EJERCICIO 5 (AVANZADO)

print("=" * 80)
print("üìã SOLUCI√ìN EJERCICIO 5: Subconsultas y An√°lisis Complejo")
print("=" * 80)

# Consulta 1: Empleados con salario mayor al promedio de su departamento
print("\n1Ô∏è‚É£ TOP PERFORMERS: SALARIO > PROMEDIO DEPARTAMENTAL")
print("-" * 65)
query1 = '''
    SELECT 
        e.nombre || ' ' || e.apellido AS empleado,
        d.nombre AS departamento,
        e.salario AS salario_empleado,
        (SELECT ROUND(AVG(e2.salario), 2) 
         FROM empleados e2 
         WHERE e2.id_departamento = e.id_departamento) AS promedio_dept,
        ROUND(e.salario - (SELECT AVG(e2.salario) 
                          FROM empleados e2 
                          WHERE e2.id_departamento = e.id_departamento), 2) AS diferencia
    FROM empleados e
    INNER JOIN departamentos d ON e.id_departamento = d.id_departamento
    WHERE e.salario > (
        SELECT AVG(e2.salario) 
        FROM empleados e2 
        WHERE e2.id_departamento = e.id_departamento
    )
    ORDER BY diferencia DESC
'''
result1 = cursor.execute(query1).fetchall()
for row in result1:
    print(f"üåü {row[0]:<25} | üè¢ {row[1]:<15} | üí∞ ${row[2]:,.2f} | üìä Prom: ${row[3]:,.2f} | ‚¨ÜÔ∏è +${row[4]:,.2f}")

print(f"üìä Total top performers: {len(result1)}")

# Consulta 2: Departamentos sin proyectos
print("\n2Ô∏è‚É£ DEPARTAMENTOS SIN PROYECTOS ASIGNADOS")
print("-" * 65)
query2 = '''
    SELECT 
        d.nombre AS departamento,
        d.ubicacion,
        d.presupuesto,
        COUNT(e.id_empleado) AS empleados_disponibles
    FROM departamentos d
    LEFT JOIN empleados e ON d.id_departamento = e.id_departamento
    WHERE NOT EXISTS (
        SELECT 1 
        FROM proyectos p 
        WHERE p.id_departamento = d.id_departamento
    )
    GROUP BY d.id_departamento, d.nombre, d.ubicacion, d.presupuesto
'''
result2 = cursor.execute(query2).fetchall()
if result2:
    for row in result2:
        print(f"üè¢ {row[0]:<20} | üìç {row[1]:<25} | üí∞ ${row[2]:,.2f} | üë• {row[3]} empleados")
else:
    print("‚úÖ Todos los departamentos tienen proyectos asignados")

# Consulta 3: Ranking salarial por departamento usando Window Functions
print("\n3Ô∏è‚É£ RANKING SALARIAL POR DEPARTAMENTO")
print("-" * 65)
query3 = '''
    SELECT 
        d.nombre AS departamento,
        e.nombre || ' ' || e.apellido AS empleado,
        e.salario,
        ROW_NUMBER() OVER (PARTITION BY d.nombre ORDER BY e.salario DESC) AS ranking_dept,
        ROUND(AVG(e.salario) OVER (PARTITION BY d.nombre), 2) AS promedio_dept,
        e.salario - AVG(e.salario) OVER (PARTITION BY d.nombre) AS diferencia_promedio
    FROM empleados e
    INNER JOIN departamentos d ON e.id_departamento = d.id_departamento
    ORDER BY d.nombre, ranking_dept
'''
result3 = cursor.execute(query3).fetchall()
current_dept = ""
for row in result3:
    if row[0] != current_dept:
        print(f"\nüè¢ DEPARTAMENTO: {row[0]}")
        print(f"   üìä Promedio departamental: ${row[4]:,.2f}")
        current_dept = row[0]
    
    medal = "ü•á" if row[3] == 1 else "ü•à" if row[3] == 2 else "ü•â" if row[3] == 3 else "  "
    print(f"   {medal} #{row[3]} {row[1]:<25} | üí∞ ${row[2]:,.2f} | ‚¨ÜÔ∏è {row[5]:+.2f}")

# Consulta 4: CTE para an√°lisis jer√°rquico
print("\n4Ô∏è‚É£ AN√ÅLISIS JER√ÅRQUICO CON CTE")
print("-" * 65)
query4 = '''
    WITH departamento_stats AS (
        SELECT 
            d.id_departamento,
            d.nombre AS dept_nombre,
            d.presupuesto AS presupuesto_dept,
            COUNT(e.id_empleado) AS total_empleados,
            COALESCE(SUM(e.salario), 0) AS costo_total_salarios,
            COALESCE(AVG(e.salario), 0) AS salario_promedio,
            COUNT(p.id_proyecto) AS total_proyectos,
            COALESCE(SUM(p.presupuesto), 0) AS presupuesto_proyectos
        FROM departamentos d
        LEFT JOIN empleados e ON d.id_departamento = e.id_departamento
        LEFT JOIN proyectos p ON d.id_departamento = p.id_departamento
        GROUP BY d.id_departamento, d.nombre, d.presupuesto
    ),
    efficiency_metrics AS (
        SELECT 
            *,
            CASE 
                WHEN total_empleados > 0 THEN presupuesto_proyectos / total_empleados
                ELSE 0 
            END AS presupuesto_por_empleado,
            CASE 
                WHEN presupuesto_dept > 0 THEN (costo_total_salarios / presupuesto_dept) * 100
                ELSE 0 
            END AS porcentaje_salarios_presupuesto
        FROM departamento_stats
    )
    SELECT 
        dept_nombre,
        total_empleados,
        total_proyectos,
        ROUND(salario_promedio, 2) AS salario_promedio,
        ROUND(presupuesto_por_empleado, 2) AS presupuesto_por_empleado,
        ROUND(porcentaje_salarios_presupuesto, 2) AS pct_salarios_presupuesto,
        CASE 
            WHEN porcentaje_salarios_presupuesto < 30 THEN 'Eficiente'
            WHEN porcentaje_salarios_presupuesto < 50 THEN 'Normal'
            ELSE 'Alto Costo'
        END AS clasificacion_eficiencia
    FROM efficiency_metrics
    ORDER BY presupuesto_por_empleado DESC
'''
result4 = cursor.execute(query4).fetchall()
print(f"{'Departamento':<20} | {'Emp'} | {'Proy'} | {'Sal.Prom':<10} | {'Pres/Emp':<10} | {'%Sal'} | {'Eficiencia'}")
print("-" * 90)
for row in result4:
    efficiency_icon = "üü¢" if row[6] == 'Eficiente' else "üü°" if row[6] == 'Normal' else "üî¥"
    print(f"{row[0]:<20} | {row[1]:>3} | {row[2]:>4} | ${row[3]:>8,.0f} | ${row[4]:>8,.0f} | {row[5]:>4.1f}% | {efficiency_icon} {row[6]}")

# üß† AN√ÅLISIS Y APRENDIZAJE
print("\n" + "=" * 80)
print("üß† CONCEPTOS AVANZADOS APLICADOS:")
print("=" * 80)
print("‚úÖ Subconsultas correlacionadas en WHERE y SELECT")
print("‚úÖ EXISTS/NOT EXISTS para verificar existencia")
print("‚úÖ Window Functions: ROW_NUMBER() OVER()")
print("‚úÖ PARTITION BY para agrupar en window functions")
print("‚úÖ Common Table Expressions (CTE) con WITH")
print("‚úÖ CTEs anidados para an√°lisis complejos")
print("‚úÖ M√©tricas de eficiencia empresarial")
print("‚úÖ Clasificaci√≥n autom√°tica con CASE WHEN")

#### üéØ EJERCICIO 5: Subconsultas y An√°lisis Complejo

**üìù ENUNCIADO:**
Como ingeniero senior, necesitas realizar an√°lisis complejos para optimizaci√≥n de procesos:

1. **Empleados top performers**: Empleados con salario mayor al promedio de su departamento
2. **Departamentos sin proyectos**: Usar EXISTS para encontrar departamentos que NO tienen proyectos asignados
3. **Ranking salarial**: Usar window functions para rankear empleados por salario dentro de cada departamento
4. **CTE para an√°lisis jer√°rquico**: Crear CTE que calcule m√©tricas departamentales complejas

**üí° TIPS:** Usa subconsultas en `WHERE`, `SELECT`, `EXISTS`, `ROW_NUMBER() OVER()`

**üéØ TU TURNO:** ¬°Convi√©rtete en un experto en consultas complejas!

### üî¥ NIVEL AVANZADO: Subconsultas y Optimizaci√≥n

**Objetivo:** Dominar consultas complejas, subconsultas y optimizaci√≥n para aplicaciones industriales

**üî• CONCEPTOS CLAVE:**
- **Subconsultas**: Consultas dentro de consultas
- **EXISTS/NOT EXISTS**: Verificar existencia de datos
- **Window Functions**: ROW_NUMBER(), RANK(), PARTITION BY
- **Common Table Expressions (CTE)**: WITH clause
- **√çndices**: Optimizaci√≥n de consultas
- **Transacciones**: ACID properties

In [ ]:
# üöÄ TU PR√ÅCTICA - EJERCICIO 4
# Escribe aqu√≠ tus consultas SQL con agregaciones

# Consulta 1: An√°lisis salarial por departamento (AVG, MIN, MAX, SUM)
# TU C√ìDIGO AQU√ç:


# Consulta 2: Distribuci√≥n de empleados por rangos de experiencia
# TU C√ìDIGO AQU√ç:


# Consulta 3: Presupuesto total por estado de proyectos
# TU C√ìDIGO AQU√ç:


# Consulta 4: Departamentos eficientes (HAVING clause)
# TU C√ìDIGO AQU√ç:

#### üéØ EJERCICIO 3: JOINs Expl√≠citos

**üìù ENUNCIADO:**
Ahora trabajaremos con relaciones entre tablas usando JOINs expl√≠citos:

1. **INNER JOIN**: Mostrar empleados con sus departamentos (nombre completo, cargo, departamento, ubicaci√≥n)
2. **LEFT JOIN**: Mostrar TODOS los departamentos y cu√°ntos empleados tienen (incluir departamentos sin empleados)
3. **An√°lisis de proyectos**: Unir proyectos con departamentos, mostrar proyecto, departamento responsable y presupuesto
4. **JOIN m√∫ltiple**: Empleados trabajando en proyectos activos (empleado, departamento, proyecto, estado)

**üí° TIPS:** Usa `INNER JOIN`, `LEFT JOIN`, `ON` para especificar relaciones

**üéØ TU TURNO:** ¬°Domina las relaciones entre tablas!

### üü° NIVEL INTERMEDIO: JOINs y Agregaciones

**Objetivo:** Dominar relaciones entre tablas y funciones de agregaci√≥n

**üî• CONCEPTOS CLAVE:**
- **INNER JOIN**: Solo registros que coinciden en ambas tablas
- **LEFT JOIN**: Todos los registros de la tabla izquierda
- **Agregaciones**: COUNT, SUM, AVG, MIN, MAX
- **GROUP BY**: Agrupar por categor√≠as
- **HAVING**: Filtrar grupos (no filas individuales)

In [ ]:
# üèÜ IMPLEMENTACI√ìN: SISTEMA DE MONITOREO INDUSTRIAL
# Un proyecto completo que integra todos los conceptos SQL aprendidos

print("=" * 100)
print("üè≠ SISTEMA DE MONITOREO INDUSTRIAL - DASHBOARD EJECUTIVO")
print("=" * 100)

# üìä M√ìDULO 1: RECURSOS HUMANOS
print("\n" + "üîµ" * 40)
print("üë• M√ìDULO 1: AN√ÅLISIS DE RECURSOS HUMANOS")
print("üîµ" * 40)

# Estructura organizacional
rh_query = '''
    WITH estructura_org AS (
        SELECT 
            d.nombre AS departamento,
            COUNT(e.id_empleado) AS total_empleados,
            ROUND(AVG(e.salario), 2) AS salario_promedio,
            ROUND(AVG(e.a√±os_experiencia), 1) AS experiencia_promedio,
            d.presupuesto AS presupuesto_dept
        FROM departamentos d
        LEFT JOIN empleados e ON d.id_departamento = e.id_departamento
        GROUP BY d.id_departamento, d.nombre, d.presupuesto
    ),
    brechas_salariales AS (
        SELECT 
            dept_global.departamento,
            dept_global.total_empleados,
            dept_global.salario_promedio,
            (SELECT AVG(salario) FROM empleados) AS salario_general,
            dept_global.salario_promedio - (SELECT AVG(salario) FROM empleados) AS brecha_salarial
        FROM estructura_org dept_global
    )
    SELECT 
        b.departamento,
        b.total_empleados,
        b.salario_promedio,
        b.salario_general,
        b.brecha_salarial,
        CASE 
            WHEN b.brecha_salarial > 10000 THEN 'üü¢ Competitivo'
            WHEN b.brecha_salarial > 0 THEN 'üü° Promedio'
            ELSE 'üî¥ Bajo Mercado'
        END AS clasificacion_salarial
    FROM brechas_salariales b
    ORDER BY b.brecha_salarial DESC
'''

rh_result = cursor.execute(rh_query).fetchall()
print("\nüìà AN√ÅLISIS DE COMPETITIVIDAD SALARIAL:")
print(f"{'Departamento':<20} | {'#Emp'} | {'Prom.Dept':<12} | {'Prom.Gral':<12} | {'Brecha':<12} | {'Status'}")
print("-" * 95)
for row in rh_result:
    print(f"{row[0]:<20} | {row[1]:>4} | ${row[2]:>10,.2f} | ${row[3]:>10,.2f} | ${row[4]:>+10,.2f} | {row[5]}")

# üìä M√ìDULO 2: GESTI√ìN DE PROYECTOS
print("\n" + "üü°" * 40)
print("üìã M√ìDULO 2: AN√ÅLISIS DE GESTI√ìN DE PROYECTOS")
print("üü°" * 40)

proyectos_query = '''
    WITH analisis_proyectos AS (
        SELECT 
            p.estado,
            COUNT(*) AS cantidad_proyectos,
            SUM(p.presupuesto) AS presupuesto_total,
            AVG(p.presupuesto) AS presupuesto_promedio,
            COUNT(DISTINCT p.id_departamento) AS departamentos_involucrados
        FROM proyectos p
        GROUP BY p.estado
    ),
    riesgo_departamental AS (
        SELECT 
            d.nombre AS departamento,
            COUNT(p.id_proyecto) AS proyectos_activos,
            SUM(CASE WHEN p.estado = 'En Progreso' THEN p.presupuesto ELSE 0 END) AS inversion_activa,
            d.presupuesto AS presupuesto_dept,
            ROUND(
                (SUM(CASE WHEN p.estado = 'En Progreso' THEN p.presupuesto ELSE 0 END) / d.presupuesto) * 100, 
                2
            ) AS porcentaje_comprometido
        FROM departamentos d
        LEFT JOIN proyectos p ON d.id_departamento = p.id_departamento
        GROUP BY d.id_departamento, d.nombre, d.presupuesto
    )
    SELECT 
        r.departamento,
        r.proyectos_activos,
        r.inversion_activa,
        r.presupuesto_dept,
        r.porcentaje_comprometido,
        CASE 
            WHEN r.porcentaje_comprometido > 80 THEN 'üî¥ Alto Riesgo'
            WHEN r.porcentaje_comprometido > 50 THEN 'üü° Riesgo Medio'
            WHEN r.porcentaje_comprometido > 0 THEN 'üü¢ Bajo Riesgo'
            ELSE '‚ö™ Sin Proyectos'
        END AS nivel_riesgo
    FROM riesgo_departamental r
    ORDER BY r.porcentaje_comprometido DESC
'''

proyectos_result = cursor.execute(proyectos_query).fetchall()
print("\n‚ö†Ô∏è AN√ÅLISIS DE RIESGO DEPARTAMENTAL:")
print(f"{'Departamento':<20} | {'Proy'} | {'Inv.Activa':<12} | {'Presup.Dept':<12} | {'%Comp'} | {'Riesgo'}")
print("-" * 95)
for row in proyectos_result:
    print(f"{row[0]:<20} | {row[1]:>4} | ${row[2]:>10,.0f} | ${row[3]:>10,.0f} | {row[4]:>5.1f}% | {row[5]}")

# üìä M√ìDULO 3: EFICIENCIA OPERACIONAL
print("\n" + "üü¢" * 40)
print("‚ö° M√ìDULO 3: AN√ÅLISIS DE EFICIENCIA OPERACIONAL")
print("üü¢" * 40)

eficiencia_query = '''
    WITH kpis_departamentales AS (
        SELECT 
            d.nombre AS departamento,
            COUNT(e.id_empleado) AS empleados,
            COALESCE(SUM(e.salario), 0) AS costo_rrhh,
            COUNT(p.id_proyecto) AS proyectos_gestionados,
            COALESCE(SUM(p.presupuesto), 0) AS valor_proyectos,
            d.presupuesto AS presupuesto_asignado,
            -- KPI: Valor generado por empleado
            CASE 
                WHEN COUNT(e.id_empleado) > 0 THEN ROUND(COALESCE(SUM(p.presupuesto), 0) / COUNT(e.id_empleado), 2)
                ELSE 0 
            END AS valor_por_empleado,
            -- KPI: Eficiencia presupuestaria
            CASE 
                WHEN d.presupuesto > 0 THEN ROUND((COALESCE(SUM(p.presupuesto), 0) / d.presupuesto) * 100, 2)
                ELSE 0 
            END AS eficiencia_presupuestaria,
            -- KPI: ROI recursos humanos
            CASE 
                WHEN COALESCE(SUM(e.salario), 0) > 0 THEN ROUND(COALESCE(SUM(p.presupuesto), 0) / COALESCE(SUM(e.salario), 1), 2)
                ELSE 0 
            END AS roi_rrhh
        FROM departamentos d
        LEFT JOIN empleados e ON d.id_departamento = e.id_departamento
        LEFT JOIN proyectos p ON d.id_departamento = p.id_departamento
        GROUP BY d.id_departamento, d.nombre, d.presupuesto
    ),
    ranking_performance AS (
        SELECT 
            *,
            ROW_NUMBER() OVER (ORDER BY valor_por_empleado DESC) AS rank_valor,
            ROW_NUMBER() OVER (ORDER BY eficiencia_presupuestaria DESC) AS rank_eficiencia,
            ROW_NUMBER() OVER (ORDER BY roi_rrhh DESC) AS rank_roi
        FROM kpis_departamentales
    )
    SELECT 
        departamento,
        empleados,
        proyectos_gestionados,
        valor_por_empleado,
        eficiencia_presupuestaria,
        roi_rrhh,
        (rank_valor + rank_eficiencia + rank_roi) AS score_total,
        CASE 
            WHEN (rank_valor + rank_eficiencia + rank_roi) <= 9 THEN 'ü•á Excelente'
            WHEN (rank_valor + rank_eficiencia + rank_roi) <= 15 THEN 'ü•à Bueno'
            ELSE 'ü•â Mejorable'
        END AS clasificacion_performance
    FROM ranking_performance
    ORDER BY score_total ASC
'''

eficiencia_result = cursor.execute(eficiencia_query).fetchall()
print("\nüèÜ RANKING DE PERFORMANCE DEPARTAMENTAL:")
print(f"{'Departamento':<20} | {'Emp'} | {'Proy'} | {'$/Emp':<10} | {'Efic%'} | {'ROI'} | {'Performance'}")
print("-" * 90)
for row in eficiencia_result:
    print(f"{row[0]:<20} | {row[1]:>3} | {row[2]:>4} | ${row[3]:>8,.0f} | {row[4]:>4.1f}% | {row[5]:>3.1f} | {row[7]}")

# üìä M√ìDULO 4: DASHBOARD EJECUTIVO
print("\n" + "üî¥" * 40)
print("üìä M√ìDULO 4: DASHBOARD EJECUTIVO - M√âTRICAS CONSOLIDADAS")
print("üî¥" * 40)

dashboard_query = '''
    WITH metricas_globales AS (
        SELECT 
            (SELECT COUNT(*) FROM empleados) AS total_empleados,
            (SELECT COUNT(*) FROM departamentos) AS total_departamentos,
            (SELECT COUNT(*) FROM proyectos) AS total_proyectos,
            (SELECT ROUND(AVG(salario), 2) FROM empleados) AS salario_promedio_empresa,
            (SELECT SUM(presupuesto) FROM departamentos) AS presupuesto_total_empresa,
            (SELECT SUM(presupuesto) FROM proyectos) AS inversion_total_proyectos,
            (SELECT COUNT(*) FROM proyectos WHERE estado = 'En Progreso') AS proyectos_activos,
            (SELECT COUNT(*) FROM proyectos WHERE estado = 'Completado') AS proyectos_completados
    ),
    alertas_sistema AS (
        SELECT 
            'Departamentos sin empleados' AS tipo_alerta,
            (SELECT COUNT(*) FROM departamentos d WHERE NOT EXISTS (
                SELECT 1 FROM empleados e WHERE e.id_departamento = d.id_departamento
            )) AS cantidad
        UNION ALL
        SELECT 
            'Empleados sobre promedio salarial' AS tipo_alerta,
            (SELECT COUNT(*) FROM empleados WHERE salario > (SELECT AVG(salario) FROM empleados)) AS cantidad
        UNION ALL
        SELECT 
            'Departamentos sin proyectos' AS tipo_alerta,
            (SELECT COUNT(*) FROM departamentos d WHERE NOT EXISTS (
                SELECT 1 FROM proyectos p WHERE p.id_departamento = d.id_departamento
            )) AS cantidad
    )
    SELECT * FROM metricas_globales
'''

dashboard_result = cursor.execute(dashboard_query).fetchone()
print(f"\nüìà M√âTRICAS EMPRESARIALES CONSOLIDADAS:")
print(f"   üë• Total empleados: {dashboard_result[0]}")
print(f"   üè¢ Total departamentos: {dashboard_result[1]}")
print(f"   üìã Total proyectos: {dashboard_result[2]} ({dashboard_result[6]} activos, {dashboard_result[7]} completados)")
print(f"   üí∞ Salario promedio empresa: ${dashboard_result[3]:,.2f}")
print(f"   üíº Presupuesto total empresa: ${dashboard_result[4]:,.2f}")
print(f"   üìä Inversi√≥n total en proyectos: ${dashboard_result[5]:,.2f}")
print(f"   ‚ö° Utilizaci√≥n presupuestaria: {(dashboard_result[5]/dashboard_result[4]*100):.1f}%")

# Alertas del sistema
alertas_result = cursor.execute('SELECT tipo_alerta, cantidad FROM (SELECT "Departamentos sin empleados" AS tipo_alerta, (SELECT COUNT(*) FROM departamentos d WHERE NOT EXISTS (SELECT 1 FROM empleados e WHERE e.id_departamento = d.id_departamento)) AS cantidad UNION ALL SELECT "Empleados sobre promedio salarial" AS tipo_alerta, (SELECT COUNT(*) FROM empleados WHERE salario > (SELECT AVG(salario) FROM empleados)) AS cantidad UNION ALL SELECT "Departamentos sin proyectos" AS tipo_alerta, (SELECT COUNT(*) FROM departamentos d WHERE NOT EXISTS (SELECT 1 FROM proyectos p WHERE p.id_departamento = d.id_departamento)) AS cantidad)').fetchall()

print(f"\nüö® ALERTAS DEL SISTEMA:")
for alerta in alertas_result:
    icon = "‚ö†Ô∏è" if alerta[1] > 0 else "‚úÖ"
    print(f"   {icon} {alerta[0]}: {alerta[1]}")

# Recomendaciones automatizadas
print(f"\nüéØ RECOMENDACIONES AUTOMATIZADAS:")
print("   üìä ACCI√ìN 1: Balancear carga de trabajo en departamentos de alto riesgo")
print("   üí∞ ACCI√ìN 2: Revisar estructura salarial en departamentos 'Bajo Mercado'")
print("   üèÜ ACCI√ìN 3: Replicar mejores pr√°cticas de departamentos 'Excelente'")
print("   üìã ACCI√ìN 4: Asignar proyectos a departamentos sin carga de trabajo")

print("\n" + "=" * 100)
print("üéØ PROYECTO COMPLETADO - SISTEMA DE MONITOREO INDUSTRIAL FUNCIONAL")
print("‚úÖ Integraci√≥n exitosa de todos los conceptos SQL avanzados")
print("=" * 100)

## üéì CONSOLIDACI√ìN Y EVALUACI√ìN FINAL

### üìã CHECKLIST DE CONCEPTOS DOMINADOS

Marca ‚úÖ cada concepto que dominas completamente:

**üü¢ NIVEL B√ÅSICO:**
- [ ] SELECT, FROM, WHERE b√°sicos
- [ ] Filtros con operadores de comparaci√≥n
- [ ] LIKE con wildcards (%, _)
- [ ] BETWEEN para rangos
- [ ] IN para valores espec√≠ficos
- [ ] ORDER BY para ordenamiento
- [ ] Concatenaci√≥n de strings

**üü° NIVEL INTERMEDIO:**
- [ ] INNER JOIN y LEFT JOIN
- [ ] Funciones de agregaci√≥n (COUNT, SUM, AVG, MIN, MAX)
- [ ] GROUP BY para agrupaciones
- [ ] HAVING para filtrar grupos
- [ ] An√°lisis estad√≠stico con SQL
- [ ] Reportes empresariales

**üî¥ NIVEL AVANZADO:**
- [ ] Subconsultas correlacionadas
- [ ] EXISTS/NOT EXISTS
- [ ] Window Functions (ROW_NUMBER, RANK)
- [ ] Common Table Expressions (CTE)
- [ ] Consultas complejas multi-tabla
- [ ] Optimizaci√≥n de consultas

**üèÜ PROYECTO INTEGRADOR:**
- [ ] Dise√±o de dashboards SQL
- [ ] M√©tricas de negocio automatizadas
- [ ] Alertas y recomendaciones
- [ ] Integraci√≥n de todos los conceptos

---

### üß† EVALUACI√ìN FINAL DE CONOCIMIENTOS

**Responde estas preguntas para verificar tu dominio completo:**

**‚ùì PREGUNTA 1:** ¬øCu√°l es la diferencia pr√°ctica entre INNER JOIN y LEFT JOIN en un contexto industrial?
- **Tu respuesta:** _________

**‚ùì PREGUNTA 2:** ¬øCu√°ndo usar√≠as una subconsulta vs un JOIN?
- **Tu respuesta:** _________

**‚ùì PREGUNTA 3:** Explica cu√°ndo usar GROUP BY vs HAVING vs WHERE
- **Tu respuesta:** _________

**‚ùì PREGUNTA 4:** ¬øC√≥mo optimizar√≠as una consulta que tarda mucho en ejecutarse?
- **Tu respuesta:** _________

**‚ùì PREGUNTA 5:** En el contexto de automatizaci√≥n industrial, ¬øqu√© m√©tricas SQL ser√≠an m√°s importantes para monitorear?
- **Tu respuesta:** _________

---

### üöÄ PR√ìXIMOS PASOS EN TU MAESTR√çA

**üéØ SUBM√ìDULO 3.2: Python + SQLite**
- Conexi√≥n Python-BD
- Pandas + SQL
- ORM b√°sico
- Automatizaci√≥n de reportes

**üéØ SUBM√ìDULO 3.3: Consultas Avanzadas**
- Stored procedures
- Triggers
- Views complejas
- Performance tuning

**üéØ SUBM√ìDULO 3.4: ORM con SQLAlchemy**
- Modelos de datos
- Relaciones complejas
- Migrations
- Integraci√≥n con Flask

**üéØ SUBM√ìDULO 3.5: Proyecto Final**
- Sistema completo de gesti√≥n industrial
- Dashboard en tiempo real
- APIs REST con bases de datos
- Deploy en producci√≥n

---

### ‚úÖ CONFIRMACI√ìN DE CONSOLIDACI√ìN

**üî• PARA MARCAR ESTE M√ìDULO COMO CONSOLIDADO:**

1. ‚úÖ Completa todos los ejercicios pr√°cticos
2. ‚úÖ Implementa exitosamente el proyecto integrador
3. ‚úÖ Responde correctamente las preguntas de evaluaci√≥n
4. ‚úÖ Marca todos los √≠tems del checklist de conceptos
5. ‚úÖ Practica con datos reales de tu campo industrial

**üìù Escribe "CONSOLIDADO" cuando domines completamente todos los conceptos:** _________

---

**üéâ ¬°FELICITACIONES!**
Has completado exitosamente la **Fase 3.1: Bases de Datos con SQL**, base fundamental para automatizaci√≥n industrial con Python. ¬°Contin√∫a hacia la integraci√≥n Python-SQL!